body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#calculadora-container {
    margin: 0;
    padding: 0;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#calculadora {
    margin: 0;
    padding: 0;
    width: 85%;
    height: 80%;
    border: solid 3px azure;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display, input {
    margin: 0;
    padding: 0;

    border: 0;
    width: 100%;
}

#display input {
    height: 8vh;
    background-color: #263650;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:5vh;
    font-weight: 400;
    direction: rtl;
}

#inputs {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;

    border: solid 1px red;
}

